/*#main-component {*/
/*  background-color: #42a5f5;*/
/*  height: 100vh;*/
/*}*/

#main-component {
    background-image: linear-gradient(45deg, rgba(253, 252, 251, 0.8), rgba(226, 209, 195, 0.3) 100%),
    url(../../images/lightning-5905335.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
}

