#app-bar {
  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-family: Syne, sans-serif;
  animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#login-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: Syne, sans-serif;
  color: black;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
